*.swp
*.directory
*~
doc/**
build/** 

*.vtu
*.control
*.petscrc
*.log
*.err
*.out
*.json
*.solverc

\#*\#

TAGS
tags
.vscode/c_cpp_properties.json
.gitignore
.vscode/settings.json
.vscode/FVENS.code-workspace
